<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github repos</title>
</head>
<body>
    <h1>Github Repo's</h1>
    <form action="/" method="post">
        <input type="text" name="username" required>
        <button type="submit">get Repo's</button>
    </form>
    {% if repos %}
        <h1>repositories of {{username}}</h1>
        <ul>
           {% for repo in repos %}
            <h3>               
                 <a href="{{ repo.html_url }}" target="_blank">{{repo.name}}</a>
            </h3>
            {% endfor %}
        </ul>
    {% elif username %}
        <p>No repositories found or incorrect username</p>
    {% endif %}
</body>
</html>